<div class="container">
  <div class="row m-3 justify-content-center">
    <h2>Login</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-container p-3">
        <form #ngLoginForm="ngForm" (ngSubmit)="ngLoginForm.form.valid && onSubmit(ngLoginForm.form)" name="form"
              novalidate>
          <div class="for m-group mt-xxl-2">
            <label for="username">Username</label>
            <input #username="ngModel" [(ngModel)]="loginRequest.username" class="form-control" name="text" required
                   type="text"  minlength="6"/>
          </div>
          <div class="form-group mt-xxl-2">
            <label for="password">Password</label>
            <input #password="ngModel" [(ngModel)]="loginRequest.password" class="form-control" name="password" required
                   type="password" pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).*$" minlength="6"/>
          </div>
          <div class="form-check mt-xxl-3 md-xxl-3 p-0">
            <label for="shouldBeAdmin">Is admin</label>
            <input [(ngModel)]="loginRequest.shouldBeAdmin" [value]="true" name="shouldBeAdmin" required type="radio">
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" (click)="error.errors = [] ">
              Login
            </button>
          </div>
          <div class="form-group">
            <div *ngIf="(ngLoginForm.submitted && ngLoginForm.invalid) || error.errors.length > 0" class="alert alert-danger" role="alert">
              Login failed:
              <ul>
                <li *ngIf="username.errors?.['minlength']">Username must have at least 6 characters</li>
                <li *ngIf="password.errors?.['pattern']">Password must have at least 1 digit, 1 capital and 1 lowercase letters</li>
                <li *ngIf="password.errors?.['minlength']">Password must have at least 6 characters</li>
                <li *ngFor="let err of error.errors">{{err}}</li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
